.fight_page_content2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url("../../Assets/background/background-fight1.jpg");
    background-attachment : fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    min-height: 100%;
}

.fight_page_content1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100%;
    min-height: 1300px;
    background-color: rgb(229, 226, 211,0.5) ;
}

.Add_buttons{
    width: 70%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.add_fighter_button{
    display: flex;
    flex-direction: row;
}

.add_character_button{
    margin-left: 20px;
}

.run_initiative_button{
    margin-left: 5%;
    margin-right: 5%;
}

.character_input_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.figter_line_display{
    width: 80%;
}

.figther_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: 100%;

    background-color: rgb(229, 226, 211);

    border: solid 3px rgb(107, 46, 35);
}

.figther_display_dead{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: 1000px;
    border: solid 3px rgb(46, 32, 29);
    background-color: grey;
}

.figther_display_box{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

.fighter_values_icone{
    max-height: 40px;
}

.figther_name, .figther_ID{
    height: 60px;
    padding: 10px;
    padding-top: 20px;
    font-size: 18px;
    color: rgb(37, 37, 142);
}

.fight_attack_button {
    margin: 5px;
}

.pv_change_input{
    width: 50x;
}

.pv_change_buttons {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.pv_change_buttons_2 {
    margin: 5px;
    width: 50px;
    text-align: center;
}
