.character_content {
    width: 90%;
    margin-left: 5%;
}

.weapon_table, .display_perso, .competence_table{
    margin: auto;
}




.caract_table th {

    border: 2px solid black;
    padding: 2px;
    background-color: rgb(58, 58, 131);
    color: white;
    font-size: 15px;

}

.caract_table td {

border: 1px solid black;
padding: 2px;
background-color: rgb(199, 199, 247);
color: rgb(14, 7, 53);

}

.caract_table_title{
background-color: rgb(43, 43, 116);
padding: 2px;
font-size: 25px;
color: white;

}

.weapon_table th{

border: 2px solid black;
padding: 2px;
background-color: rgb(195, 101, 8);
color: white;
font-size: 15px;

}

.weapon_table td{
border: 2px solid black;
padding: 2px;
background-color: rgb(238, 197, 155);
color: rgb(111, 20, 20);
}

.weapon_table_title{
background-color: rgb(139, 73, 6);
padding: 2px;
font-size: 25px;
color: white;

}


.description_competence {
font-size: 14px;
}

.competence_table th{

border: 2px solid black;
padding: 2px;
background-color: rgb(13, 135, 118);
color: white;
font-size: 15px;
    
}

.competence_table td{

border: 1px solid black;
padding: 2px;
background-color: rgb(210, 219, 218);
color: rgb(9, 82, 103);
        
}

.competence_table_title {
background-color: rgb(19, 116, 119);
padding: 2px;
font-size: 25px;
color: white;
}

.general_value_perso {
    display: flex;
    height:270px;
    width: 1000px;
    Justify-content:space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.general_value_perso_4 {
    padding-left: 20px;
   
}

.general_value_perso_2{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.other_values_icone{
    max-height: 70px;
}

.float_child1 {
    float: left;
}

.xp_perso{
    border: solid rgb(2, 105, 40) 2px;
    color: rgb(2, 105, 40);
    font-size: 15px;
    width: 200px;
    height: 25px;
    text-align: center;
    margin : 2px;
    font-weight: bold;
}


.pv_perso {
    height: 35px;
    width: 150px;
    display: table;
    border: solid rgb(142, 14, 14) 2px;
    margin : 2px;
    font-weight: bold;
}

.pv_perso_text {
    vertical-align: top;
    font-size: 20px;
    color: rgb(143, 13, 13);
    display: table-cell; vertical-align: middle;
}

.pv_icone{
    max-width: 40px;
    max-height: 40px;
}

.mana_perso {
    height: 35px;
    width: 150px;
    display: table;
    border: solid rgb(27, 36, 168) 2px;
    margin : 2px;
    font-weight: bold;
}

.mana_perso_text {
    vertical-align: top;
    font-size: 20px;
    color: rgb(27, 36, 168);
    display: table-cell; vertical-align: middle;
}

.mana_icone{
    max-width: 40px;
    max-height: 40px;
}


.other_values_perso {
    height: 55px;
    width: 50px;
    display: table;
    margin : 2px;
    font-weight: bold;
}

.other_values_text {
    padding: 5 px;
    vertical-align: top;
    font-size: 20px;
    color: rgb(116, 85, 30);
    display: table-cell; vertical-align: middle;
}

